Source: pdfshuffler
Section: x11
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Vincent Cheng <vcheng@debian.org>, Jeremy Lainé <jeremy.laine@m4x.org>
Build-Depends: debhelper (>= 9), gettext, python (>= 2.6.6-3~)
Standards-Version: 3.9.6
Homepage: http://sourceforge.net/projects/pdfshuffler/
Vcs-Svn: svn://anonscm.debian.org/python-apps/packages/pdfshuffler/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-apps/packages/pdfshuffler/trunk/

Package: pdfshuffler
Architecture: all
Depends:
 gir1.2-gtk-3.0,
 gir1.2-poppler-0.18,
 python-gi,
 python-cairo,
 python-pypdf2,
 ${misc:Depends},
 ${python:Depends}
Description: merge, split and re-arrange pages from PDF documents
 PDF-Shuffler is a small application which allows one to merge or split pdf
 documents and rotate, crop and rearrange their pages using an interactive
 and intuitive graphical interface.
