[Desktop Entry]
Version=1.0
Name=PDF Arranger
GenericName=PDF Arranger
GenericName[ar]=مرتب PDF
GenericName[bn]=পিডিএফ অ্যারেঞ্জার
GenericName[ca]=Arranjador de PDF
GenericName[cs]=PDF Aranžér
GenericName[de]=PDF-Arranger
GenericName[el]=Διαμορφωτής PDF
GenericName[es]=Organizador de PDF
GenericName[fi]=PDF-järjestelijä
GenericName[fr]=Agenceur PDF
GenericName[gu]=પીડીએફ આરેંજર
GenericName[ha]=PDF Arranger
GenericName[hi]=पीडीएफ अनुक्रमक
GenericName[hr]=PDF Aranžer
GenericName[hu]=PDF Rendező
GenericName[id]=Pengatur PDF
GenericName[is]=PDF Raðar
GenericName[it]=Organizzatore PDF
GenericName[kn]=ಪಿಡಿಎಫ್ ಆರೆಂಜರ್
GenericName[ko]=PDF 정리자
GenericName[mr]=पीडीएफ अरेंजर
GenericName[ms]=Pemperenggan PDF
GenericName[nl]=PDF-regelaar
GenericName[pl]=Organizator PDF
GenericName[pt]=Organizador de PDF
GenericName[ru]=PDF-организатор
GenericName[sk]=PDF Zoradenie
GenericName[sv]=PDF-arrangör
GenericName[sw]=Mstari wa PDF
GenericName[ta]=பிடிஎஃப் அமைப்பாளர்
GenericName[te]=పిడిఎఫ్ అరేంజర్
GenericName[tr]=PDF Düzenleyici
GenericName[uk]=PDF Аранжувальник
GenericName[ur]=پی ڈی ایف انتظامی
GenericName[vi]=Sắp xếp PDF
GenericName[yo]=PDF Arranger
GenericName[zh-CN]=PDF整理器
GenericName[zh-TW]=PDF整理器
Comment=Merge, rearrange, split, rotate and crop PDF documents
Comment[ar]=دمج، إعادة ترتيب، تقسيم، تدوير وتقصيب مستندات PDF
Comment[bn]=মার্জ, পুনর্বিন্যাস, বিভক্ত করুন, ঘূর্ণন করুন এবং ক্রপ পিডিএফ নথিসমূহ
Comment[ca]=Fusionar, reorganitzar, dividir, girar i retallar documents PDF
Comment[cs]=Sloučit, přeuspořádat, rozdělit, otočit a oříznout dokumenty PDF
Comment[de]=PDF-Dokumente zusammenführen, neu anordnen, aufteilen, drehen und zuschneiden
Comment[el]=Συγχωνεύστε, αναδιατάξτε, διαιρέστε, περιστρέψτε και περικόψτε έγγραφα PDF
Comment[es]=Fusionar, reorganizar, dividir, rotar y recortar documentos PDF
Comment[fi]=Yhdistä, järjestele uudelleen, jaa, kierrä ja rajaa PDF-dokumentteja
Comment[fr]=Fusionner, réorganiser, diviser, faire pivoter et recadrer des documents PDF
Comment[gu]=મર્જ, ફરીથી વ્યવસ્થા કરો, સ્પ્લિટ, રોટેટ અને પીડીએફ દસ્તાવેજો ક્રોપ કરો
Comment[ha]=Merge, rearrange, split, rotate da kuma crop fayilolin PDF
Comment[hi]=मर्ज, पुनःव्यवस्थित, विभाजित, घुमाएँ और पीडीएफ दस्तावेज़ काटें
Comment[hr]=Spajanje, preuređivanje, razdvajanje, rotiranje i obrezivanje PDF dokumenata
Comment[hu]=PDF-dokumentumok egyesítése, átrendezése, felosztása, forgatása és kivágása
Comment[id]=Menggabungkan, menyusun ulang, memisahkan, memutar, dan memotong dokumen PDF
Comment[is]=Sameina, endurskipuleika, skipta, snúa og skera PDF-skjöl
Comment[it]=Unisci, riorganizza, dividi, ruota e ritaglia documenti PDF
Comment[kn]=ಮರ್ಜ್, ಮರುವಿನ ರೂಪಿಸಿ, ವಿಭಜಿಸಿ, ತಿರುಗಿಸಿ ಮತ್ತು ಕ್ರಾಪ್ ಪಿಡಿಎಫ್ ದಸ್ತಾವೇಜುಗಳನ್ನು
Comment[ko]=PDF 문서 병합, 재배열, 분할, 회전 및 자르기
Comment[mr]=मर्ज करा, पुन्हा व्यवस्थित करा, विभाजित करा, फिरवा आणि पीडीएफ दस्तऐवज कापा
Comment[ms]=Gabung, susun semula, bahagikan, putar dan potong dokumen PDF
Comment[nl]=PDF-documenten samenvoegen, herschikken, splitsen, roteren en bijsnijden
Comment[pl]=Scal, przearanżuj, podziel, obróć i przycięj dokumenty PDF
Comment[pt]=Juntar, reorganizar, dividir, girar e recortar documentos PDF
Comment[ru]=Объединение, переупорядочение, разделение, поворот и обрезка документов PDF
Comment[sk]=Zlúčiť, preusporiadať, rozdeliť, otočiť a orezať dokumenty PDF
Comment[sv]=Sammanslå, omorganisera, dela upp, rotera och beskära PDF-dokument
Comment[sw]=Unakili, panga upya, gawa vipande, pindua na kata nyaraka za PDF
Comment[ta]=ஒன்றிக்கும், மறுசீராக, பிரித்துப், உருமுறையாக்குங்கள், வளை, மற்றும் PDF ஆவணங்களை வெட்டு
Comment[te]=మర్జ్, మరికేందుక్కులు, విభజించు, విపరీతం చేసి మరియు క్రాప్ PDF పత్రాలు
Comment[tr]=Birleştir, yeniden düzenle, böl, döndür ve PDF belgelerini kırp
Comment[uk]=Об'єднання, перегрупування, розбиття, обертання та обрізка документів PDF
Comment[ur]=مرغر، دوبارہ ترتیب دیں، تقسیم کریں، گھمائیں اور پی ڈی ایف دستاویزات کاٹیں
Comment[vi]=Hợp nhất, sắp xếp lại, chia, xoay và cắt tài liệu PDF
Comment[yo]=Yoku, reori, sunmọ, tẹwọ, ati da awọn akọle PDF
Comment[zh-CN]=合并、重新排列、拆分、旋转和裁剪PDF文档
Comment[zh-TW]=合併、重新排列、拆分、旋轉和裁剪PDF文件
Type=Application
Exec=pdfarranger %U
Icon=com.github.jeromerobert.pdfarranger
MimeType=application/pdf;application/postscript;application/x-ext-pdf;image/x-bmp;image/bmp;image/gif;image/tiff;image/jp2;image/jpeg;image/jpg;image/png;image/x-icon;image/x-portable-pixmap;image/x-gray;image/x-ico;image/x-png;image/vnd.zbrush.pcx;image/x-pcx;
Categories=Office;
Terminal=false
StartupNotify=false
Keywords=pdfarranger;pdfshuffler;PDF Shuffler;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[ar]=نافذة جديدة
Name[bn]=নতুন উইন্ডো
Name[ca]=Nova finestra
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[es]=Nueva ventana
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[gu]=નવું વિંડો
Name[ha]=Sabon tagwaye
Name[hi]=नया विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[is]=Nýtt gluggi
Name[it]=Nuova finestra
Name[kn]=ಹೊಸ ವಿಂಡೋ
Name[ko]=새 창
Name[mr]=नवीन विंडो
Name[ms]=Tetingkap Baru
Name[nl]=Nieuw venster
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sv]=Nytt fönster
Name[sw]=Dirisha Mpya
Name[ta]=புதிய சாளரம்
Name[te]=కొత్త విండో
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[ur]=نیا ونڈو
Name[vi]=Cửa sổ mới
Name[yo]=Òkò tí ńlá
Name[zh-CN]=新窗口
Name[zh-TW]=新視窗
Exec=pdfarranger
