[Desktop Entry]
Version=1.0
Name=PDF Arranger
Comment=PDF Merging, Rearranging, Splitting, Rotating and Cropping
Comment[de]=PFSs zusammenfügen, umsortieren, trennen, rotieren und zuschneiden
Comment[es]=Mezcle, reordene, divida, rote y recorte documentos PDF
Comment[sk]=Grafický nástroj na manipuláciu s PDF
Type=Application
Exec=pdfarranger %U
Icon=pdfarranger
MimeType=application/pdf;
Categories=Office;
Terminal=false
StartupNotify=false
