[Desktop Entry]
Version=1.0
Name=pdfarranger
Comment=PDF Merging, Rearranging, Splitting, Rotating and Cropping
Comment[es]=Mezcle, reordene, divida, rote y recorte documentos PDF
Type=Application
Exec=pdfarranger
Icon=pdfarranger
Categories=Office;
Terminal=false
StartupNotify=false
