[Desktop Entry]
Version=1.0
Name=PDF-Shuffler
Comment=PDF Merging, Rearranging, Splitting, Rotating and Cropping
Type=Application
Exec=pdfshuffler
Icon=pdfshuffler
Categories=Office;
Terminal=false
StartupNotify=false
