name: pdfarranger
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    # PikePDF 4.4.1
    container: jeromerobert/pdfarranger-docker-ci:1.4.1
    env:
      PDFARRANGER_COVERAGE: 1
    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: pip3 install .[image]
    - name: AppStream
      run: appstreamcli validate /usr/share/metainfo/com.github.jeromerobert.pdfarranger.metainfo.xml
    - name: Validate Desktop File
      run: desktop-file-validate /usr/share/applications/com.github.jeromerobert.pdfarranger.desktop
    - name: Tests and Coverage
      run: python3 -X tracemalloc -u -m unittest discover -v -f -s tests
    - name: Combine Coverage
      run: python3 -m coverage combine
    - name: Codecov
      run: curl -s https://codecov.io/bash | bash
  build-old-pikepdf:
    runs-on: ubuntu-latest
    # PikePDF 1.19
    container: jeromerobert/pdfarranger-docker-ci:1.3.1
    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: pip3 install .[image]
    - name: Tests
      run: python3 -X tracemalloc -u -m unittest discover -v -f -s tests
  build-win32:
    runs-on: ubuntu-latest
    container:
      image: jeromerobert/wine-mingw64:1.7.1
      options: --user root
    steps:
    - uses: actions/checkout@v2
    - run: ./setup.py build
    - run: HOME=/root wine python setup_win32.py bdist_msi
    - run: HOME=/root wine python setup_win32.py bdist_zip
    - uses: actions/upload-artifact@v2
      with:
        name: pdfarranger-windows-installer-msi
        path: dist/*.msi
    - uses: actions/upload-artifact@v2
      with:
        name: pdfarranger-windows-portable-zip
        path: dist/*.zip
  rpmbuild:
    runs-on: ubuntu-latest
    container: dreua/pdfarranger-docker-rpm
    steps:
    - name: RPM Build
      run: /pdfarranger/pdfarranger-build
    - uses: actions/upload-artifact@v2
      with:
        name: pdfarranger-fedora-testbuild
        path: /github/home/rpmbuild/**/*.rpm
